//- ===============================================
//-     Global  Variables
//- ===============================================
block variables
  - var CWD = '';
  - var attrsHtml = { lang: `${ dir === 'rtl' ? 'ar' : 'en-US'}`, dir: dir || 'ltr' };
  - var title = 'Landie| Landing & Corporate Template';
  - var attrsBody = {};
  - var attrsMain = {};
  - var attrsLayout = {};
  - var APIGmap = 'AIzaSyARdVcREeBK44lIWnv5-iPijKqvlSAVwbw';


//- ===============================================
//-     Basic Modules
//- ===============================================
include ../mixins/core/Functions
include ../mixins/core/Background
include ../mixins/core/Section
include ../mixins/core/ThemeStyle


doctype html
html()&attributes(attrsHtml)
  head

    block meta
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible' content='IE=edge')
      meta(name='viewport' content='width=device-width, initial-scale=1')


    = '\n\n'
    // ===============================================
    //    Document Title
    // ===============================================
    title=title


    = '\n\n'
    // ===============================================
    //    Favicons
    // ===============================================
    block favicon
      link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png?v=1')
      link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png?v=1')
      link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png?v=1')
      link(rel='manifest' href='/site.webmanifest?v=1')
      link(rel='mask-icon' href='/safari-pinned-tab.svg?v=1' color='#5092ff')
      link(rel='shortcut icon' href='/favicon.ico?v=1')
      meta(name='msapplication-TileColor' content='#da532c')
      meta(name='theme-color' content='#ffffff')


    block headScripts

    = '\n\n'
    // ===============================================
    //    Stylesheets
    // ===============================================

    block styles
      +ThemeStyle


  = '\n\n'
  body()&attributes(attrsBody)

    block beforeMainContent

    = '\n'
    // ===============================================
    //    Main Content
    // ===============================================
    main()&attributes(attrsMain)
      block mainContent
    // ===============================================
    //    End of Main Content
    // ===============================================
    = '\n\n'

    block afterMainContent

    = '\n\n'
    // ===============================================
    //    JavaScripts
    // ===============================================
    script(src=`${CWD}vendors/@popperjs/popper.min.js`)
    script(src=`${CWD}vendors/bootstrap/bootstrap.min.js`)
    script(src=`${CWD}vendors/is/is.min.js`)

    block scripts

      script(src=`${CWD}assets/js/theme.js`)

    = '\n'

    block footerStyles